*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(38, 38, 54);
}
.container{
   
    background-color: rgb(36, 36, 78);
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    border-radius: 10px;

}
img{
    margin-left:65px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}
span{
    color: rgb(54, 54, 151);
}
h1{
    color: white;
    margin-top: 20px;
    margin-left: 8px;
   
}
.left{
    margin-left: 10px;
}
.a1{
    display: inline-block;
    margin: 7px;
    margin-top: 45px;
    font-weight: bold;
    color: white;

}
p{
    color: rgb(153, 148, 148);
    margin-top: 40px;
}

@media (max-width:700px){
    
    
    img{
        margin-left: -120%;
        width: 80vw;
    }
    .left{
        margin-top: 240%;
    }
    p{
        width: 60vw;
    }
    .a1{
        display: block;
        margin-left: 50px;
    }
   
   
}
